@model ServiceItemVM
@{
    ViewData["Title"] = "Update";
}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Slider create</h6>
    </div>
    <div class="card-body">
        <form enctype="multipart/form-data" method="post">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input class="form-control" value="@Model.Title" asp-for="Title">
                <span class="text-danger" asp-validation-for="Title"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input class="form-control" value="@Model.Description" asp-for="Description">
                <span class="text-danger" asp-validation-for="Description"></span>

            </div>
            <div class="form-group">
                <label asp-for="Icon"></label>
                <input class="form-control" asp-for="Icon">
                <span class="text-danger" asp-validation-for="Icon"></span>

            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>